<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"
        integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg=="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.panzoom/4.0.0/panzoom.min.js"
        integrity="sha512-9P4403el58YclVUmhMst5Bzpcy+i0V0F0wiMlrkTDgmVqYXhF+tccpnhGIHKzKPXKaTF0Q4J9UEhu2i6PckJWg=="
        crossorigin="anonymous"></script>
    <style>
        .helptext {
            display: none;
        }

        .navbar {
            background-color: #80cbc4;
        }

        #hint_id_username {
            display: none;
        }

        #panzoom {
            border: 1px solid blue;
            background-image: url('{{gym.map_image.url}}');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 1000px;
            height: 800px;
            position: relative;

        }

        #panzoom_container {
            border: 1px solid red;
            width: 0 auto;
            background-color: black;
        }

        #panzoom button {
            position: absolute;
            border-radius: 8px;
            color: black;


        }
    </style>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="{% url 'routeapp:index' %}">
                <img src="https://img.icons8.com/emoji/344/rock-emoji.png" width="30" height="30" alt="" loading="lazy">
            </a>
            <a class="navbar-brand" href="{% url 'routeapp:index' %}">RouteFlash</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'routeapp:index' %}">Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'routeapp:gyms' %}">Gyms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'routeapp:register' %}">Register</a>

                        {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'routeapp:logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'routeapp:login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <span>
            <h2>Routes</h2>
        </span>

        <div id="app">
            <div id="panzoom_container">
                <div id="panzoom">
                    <button data-toggle="modal" data-target="#route-modal" @click="selected_route = route" v-for="route in routes"
                        :style="{left: route.x_position + 'px', top: route.y_position + 'px', backgroundColor: route.rating_color}">v[[route.rating]]</button>

                </div>
            </div>
            <div class="modal fade" id="route-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        let app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                routes: [],
                selected_route: {
                    'id': '', 
                    'name': '', 
                    'wall_type': '', 
                    'hold_types': [], 
                    'rating': '', 
                    'height': '', 
                    'description': '', 
                    'date_created': '', 
                    'x_position': '', 
                    'y_position': '', 
                    'rating_color': '', 
                }
            },
            methods: {
                scroll: function () {
                    alert('hello')
                    panzoom.zoomWithWheel

                },
                getRoutes: function () {
                    console.log('start test')
                    axios({
                        url: '{% url "routeapp:getroutes"  gym.id %}',
                        method: 'get',

                    }).then(response => {
                        this.routes = response.data.routes
                    })
                    console.log('end test')
                }
            },
            created: function () {
                setTimeout(function () {
                    let elem = document.querySelector('#panzoom')
                    const panzoom = Panzoom(document.querySelector('#panzoom'))
                    panzoom.pan(10, 10)
                    panzoom.zoom(2, { animate: true })
                    elem.parentElement.addEventListener('wheel', panzoom.zoomWithWheel)
                }, 300)
                this.getRoutes()
            }
        })
    </script>









    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
</body>

</html>